## Data preparation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('darkgrid')
flatui = ["#9b59b6", "#3498db", "#95a5a6", "#e74c3c", "#34495e", "#2ecc71"]
sns.set_palette(flatui)
import plotly.express as px
import plotly.io as pio

In [2]:
data = pd.read_stata('ca_indresp_w_POLS0010.dta')

In [3]:
data.head()

,pidp,psu,strata,birthy,racel_dv,bornuk_dv,ca_age,ca_sex,ca_couple,ca_hhcompa,...,ca_sempgovt,ca_keyworker,ca_wah,ca_timechcare,ca_auditc1_cv,ca_auditc3_cv,ca_smoker,ca_scghq1_dv,ca_gor_dv,ca_betaindin_xw
0,76165,19,6,1982,british/english/scottish/welsh/northern irish ...,born in uk,37,Female,Yes,2+,...,Inapplicable,No,Always,20,No,Inapplicable,No,12,West Midlands,0.000000
1,280165,67,15,1979,british/english/scottish/welsh/northern irish ...,born in uk,40,Female,Yes,0,...,Inapplicable,No,Never,10,Yes,2-3 times per week,No,6,South East,0.537904
2,469205,106,25,1990,british/english/scottish/welsh/northern irish ...,born in uk,30,Female,No,2+,...,Inapplicable,Yes,Never,90,Yes,2-4 times in total,No,18,East Midlands,0.000000
3,599765,130,33,1986,british/english/scottish/welsh/northern irish ...,born in uk,33,Female,Yes,0,...,Inapplicable,Yes,Always,Inapplicable,No,Inapplicable,No,7,West Midlands,0.322060
4,732365,157,43,1985,british/english/scottish/welsh/northern irish ...,born in uk,34,Male,No,0,...,Inapplicable,Inapplicable,Inapplicable,Inapplicable,No,Inapplicable,Yes,22,North West,2.375521

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17452 entries, 0 to 17451
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pidp             17452 non-null  int32
 1   psu              17452 non-null  category
 2   strata           17452 non-null  category
 3   birthy           17452 non-null  category
 4   racel_dv         17452 non-null  category
 5   bornuk_dv        17452 non-null  category
 6   ca_age           17452 non-null  category
 7   ca_sex           17452 non-null  category
 8   ca_couple        17452 non-null  category
 9   ca_hhcompa       17452 non-null  category
 10  ca_hhcompb       17452 non-null  category
 11  ca_hhcompc       17452 non-null  category
 12  ca_hadsymp       17452 non-null  category
 13  ca_tested        17452 non-null  category
 14  ca_testresult    17452 non-null  category
 15  ca_hcond_cv96    17452 non-null  category
 16  ca_sclonely_cv   17452 non-null  category
 17  ca_blwork        17452 non-null  category
 18  ca_furlough      17452 non-null  category
 19  ca_sempgovt      17452 non-null  category
 20  ca_keyworker     17452 non-null  category
 21  ca_wah           17452 non-null  category
 22  ca_timechcare    17452 non-null  category
 23  ca_auditc1_cv    17452 non-null  category
 24  ca_auditc3_cv    17452 non-null  category
 25  ca_smoker        17452 non-null  category
 26  ca_scghq1_dv     17452 non-null  category
 27  ca_gor_dv        17452 non-null  category
 28  ca_betaindin_xw  17452 non-null  category
dtypes: category(28), int32(1)
memory usage: 1.6 MB

In [7]:
data.ca_timechcare.unique()

[20, 10, 90, 'Inapplicable', 0, ..., 78, 13, 47, 95, 34]
Length: 93
Categories (93, object): ['Missing' < 'Inapplicable' < 'Refusal' < 'Don't know' ... 126 < 138 < 140 < 144]

In [9]:
data.ca_scghq1_dv.unique()

[12, 6, 18, 7, 22, ..., 24, 33, 35, 31, 32]
Length: 38
Categories (38, object): ['Missing' < 0 < 1 < 2 ... 33 < 34 < 35 < 36]